* {
	padding: 0px;
	margin: 0px;
	font-size : 19px;
}
textarea {
	font-size:20px;
	line-height:20px;
}
/*body {

	background-Color: #FFFFFF;
}*/
/*.transparent{
	pointer-events: none
}*/
/**字体**/
.fontnum{
	font-family : Arial, Helvetica, sans-serif;
}
.font_blue{
	font-size:20px;
	color: blue;
	text-shadow: 0 0 5px white;
}
.font_red{
	font-size:20px;
	color: red;
	text-shadow: 0 0 5px white;
}

/**颜色**/
.gold_money{
	color: #FFDD32;
    position: absolute;
    text-align: right;
    font-size:25px;
}
.cY {
	color:#5b2e0f;
}
.cR {
	color:#850000;
}
.cCY {
	color:#ffc341;
}
.cYellow {
	color:#e1b83b;
}
.cYellow2 {
	color:#E0F963;
}
.cYellow3 {
	color:#ffde00;
}
.cYbtn {
	color:#ffedb3;
}
.cGray {
	color:#bebebe;
}
.cGold {
	color:#f8f8ff;
}
.cMoney {
	color:#ffdd32;
}
.cRed{
	color : #bf0000;
}
.cTitle{
	color : #f6e5b8;
}
.cBrown{
    color : #cc3300;
}
.cWhite{
	color : white;
}
.cGreen{
	color : #30aa00;
}
.cGreen2{
    color : #006600;
}
.cBlack {
	color : #231907;
}
.change{ 
width:100%; 
height:600px; 
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f7f7f7,endColorStr=#ededed); /*IE*/ 
background:-moz-linear-gradient(top,#f7f7f7,#ededed);/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f7f7f7), to(#ededed));/*谷歌*/ 
} 

详细出处参考：http://www.jb51.net/css/72755.html

.grtx {
	border:6px 
solid #fff; 
border-radius:5px;
}

.bottomOn{
	 float:left;
	 width:140px; 
		 margin:8px 0 5px 7px; 
	 padding:8px 5px 9px 5px;
	 border-radius:5px;
	 text-align:center; 
	 background:#67ca31;
	 color:#FFF; 
	 }
	 
	 .bottomOff{
	 			 float:left;
	 	 width:140px;
	 	 margin:8px 0 5px 7px; 
	 	 padding:8px 5px 9px 5px;
	 	 border-radius:5px;
	 	 text-align:center; 
	 	 color:#FFF; 
	 	 }
	 	   
	 	.bottomTextOff{
	 		text-decoration:none; 
	 		color:#fff;}
	 			.bottomTextOn{
	 		text-decoration:none; 
	 		color:#fff;}
	 		
	 			.groupTitle{
	 				 background:#eee;
	 			 padding:10px 20px 10px 20px; 
	 			 margin-bottom:8px;
	 			 }

/**描边**/
.bRed {
	text-shadow:1px 1px 1px red, -1px -1px 1px red;
}
.bHei{
	text-shadow:1px 1px 1px #231907, -1px -1px 1px #231907;
}
.bBlodHei{
    text-shadow: 3px 0px 2px #5B2E0F,-3px 0px 2px #5B2E0F,
    0px 3px 2px #5B2E0F,0px -3px 2px #5B2E0F
}
.bBlodGren{
    text-shadow: 3px 0px 2px #07921A,-3px 0px 2px #07921A,
    0px 3px 2px #07921A,0px -3px 2px #07921A, 3px 0px 2px #07921A,
    -3px 0px 2px #07921A,0px 3px 2px #07921A,0px -3px 2px #07921A;
}
/**探险Boss名的描边**/
.bexplore {
    text-shadow: 3px 0px 2px #c39b68,-3px 0px 2px #c39b68,
    0px 3px 2px #c39b68,0px -3px 2px #c39b68, 3px 0px 2px #c39b68,
    -3px 0px 2px #c39b68,0px 3px 2px #c39b68,0px -3px 2px #c39b68;
}
/**食物详情名字描边**/
.bBrown {
	text-shadow:1px 1px 1px #5b2e0f, -1px -1px 1px #5b2e0f;
}
.bRed {
	text-shadow:1px 1px 1px #730000, -1px -1px 1px #730000;
}
.bBlue {
	text-shadow:1px 0 0 #00479d, 0 1px 0 #00479d, 
    0 -1px 0 #00479d, -1px 0 0 #00479d, 
    1px 0 2px #00479d, 0 1px 2px #00479d,1px 0 2px #00479d, 0 1px 2px #00479d;
}
.bYel2 {
	text-shadow:1px 0 0 #ecb700, 0 1px 0 #ecb700, 
    0 -1px 0 #ecb700, -1px 0 0 #ecb700, 
    1px 0 2px #ecb700, 0 1px 2px #ecb700,1px 0 2px #ecb700, 0 1px 2px #ecb700;
}
.bYel {
	text-shadow:1px 0 0 #330000, 0 1px 0 #330000, 
    0 -1px 0 #330000, -1px 0 0 #330000, 
    1px 0 2px #330000, 0 1px 2px #330000,1px 0 2px #330000, 0 1px 2px #330000;
}
.bBlack {
	text-shadow: 1px 0 0 #231907, 0 1px 0 #231907, 
    0 -1px 0 #231907, -1px 0 0 #231907, 
    1px 0 2px #231907, 0 1px 2px #231907,1px 0 2px #231907, 0 1px 2px #231907;
}
.bMoney {
	text-shadow: 1px 0 0 #330000, 0 1px 0 #330000, 
    0 -1px 0 #330000, -1px 0 0 #391400, 
    1px 0 2px #330000, 0 1px 2px #330000,1px 0 2px #330000, 0 1px 2px #330000;
}
.bGold {
    text-shadow: 1px 0 0 #4e96ee, 0 1px 0 #4e96ee, 
    0 -1px 0 #4e96ee, -1px 0 0 #4e96ee, 
    1px 0 2px #4e96ee, 0 1px 2px #4e96ee,1px 0 2px #4e96ee, 0 1px 2px #4e96ee;
}
.bEnergy {
	text-shadow: 1px 0 0 #730000, 0 1px 0 #730000, 
    0 -1px 0 #730000, -1px 0 0 #730000, 
    1px 0 2px #730000, 0 1px 2px #730000,1px 0 2px #730000, 0 1px 2px #730000;
}
.bAdventureTime {
	text-shadow: 1px 0 0 #c29a67, 0 1px 0 #c29a67, 
    0 -1px 0 #c29a67, -1px 0 0 #c29a67, 
    1px 0 2px #c29a67, 0 1px 2px #c29a67,1px 0 2px #c29a67, 0 1px 2px #c29a67;
}
.bAdventure {
	text-shadow: 1px 0 0 #000000, 0 1px 0 #000000, 
    0 -1px 0 #000000, -1px 0 0 #000000, 
    1px 0 2px #000000, 0 1px 2px #000000,1px 0 2px #000000, 0 1px 2px #000000;
}
.bBank {
	text-shadow: 1px 0 0 #1874CD, 0 1px 0 #1874CD, 
    0 -1px 0 #1874CD, -1px 0 0 #1874CD, 
    1px 0 2px #1874CD, 0 1px 2px #1874CD,1px 0 2px #1874CD, 0 1px 2px #1874CD;
}
.bRound {
    border:1px solid #9d7832;  
    -moz-border-radius: 10px;      
    -webkit-border-radius: 10px;   
    border-radius:10px;            
}
.bRound2 {
    -moz-border-radius: 10px;      
    -webkit-border-radius: 10px;   
    border-radius:10px;            
}

/**圆角边框**/
.bRadius{
    border-radius:8px;
    border: 1px solid #c5a573;
}
.bRadius1{
    border-radius:8px;
}

/**字体大小**/
.sMicro{
	font-size: 16px;
}
.sSmall{
	font-size: 18px;
}
.sLte{
	font-size: 22px;
}
.sMid{
	font-size: 24px;
}
.sBiga{
	font-size: 30px;
}

.sBig{
	font-size: 36px;
}
.sBold {
	font-weight: bold;
}
/**align**/
.alignC{
	text-align:center;
}
.alignR{
	text-align:right;
}
.alignL{
	text-align:left;
}
.ofHide {
	overflow:hidden;
}
/**位置**/
.absolute {
	position:absolute;
	left:0px;
	top:0px;
}
/*.fix {
	position:fix;
	left:0px;
	top:0px;
}*/
.boxshadow {
	opacity: 0;
	position: absolute;
	border: 5px solid #fff;
	/*WebkitBoxShadow: 0px 0px 3px #fff;*/
	/*boxShadow: 0px 0px 3px #fff;*/
}
#main {
	position:absolute;
	left:0px;
	top:0px;
}
#town {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}
#iLoading{
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:1998;
	position:absolute;
}
#pLoad {
	position:absolute;
	width:136px;
	height:127px;
}
#loadPP {
	position:absolute;
	width:200px;
	height:24px;
	background-image:url(../img/bg/progress/pb2.png);
}
#loadPPP {
	position:absolute;
	left:2px;
	top:2px;
	height:20px;
	background-image:url(../img/bg/progress/ps2blue.png);
}
#loadT {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:20px;
}
#confirm {
	position:absolute;
	width:570px;
	margin-top:0px;
	z-index:1999;
}
#opt {
	z-index:400;
}
#pop {
	position:absolute;
	width:640px;
	height:960px;
	top:0px;
	left:0px;
	margin-top:0px;
	background:url(../img/pop/bg_1.png),url(../img/pop/bg_2.png);
	background-repeat:no-repeat,repeat-y;
	background-repeat:0px 0px,0px 179px;
	z-index:300;
}
#up {
	position:absolute;
	width:570px;
	margin-top:0px;
	z-index:400;
}
#menu {
	position:absolute;
	left:0px;
	top:0px;
	width:98px;
	height:100%;
	z-index:500;
}
#result {
	position:absolute;
	width:570px;
	margin-top:0px;
}
#cTop {
	width:100%;
	position:relative;
	height:50px;
}
#fight{
	position:absolute;
	z-index:600;
	background-repeat:repeat;
}
#cMain {
	position:relative;
	margin-left:5px;
	width:636px;
}
#iLoading #tips{
	width: 100%;
	position:absolute;
	color:white;
	text-align:center;
	font-size: 28px;
}
.npcScroll {
	position:absolute;
	left:65px;
	top:53px;
	padding-left:70px;
	width:498px;
	height:81px;
	background-image:url(../img/npc/scroll.png);
	background-repeat:no-repeat;
}
.npcWord {
	position:absolute;
	top:0px;
	left:0px;
	width:460px;
	height:81px;
	display:table-cell;
	vertical-align:middle;
}
.noteItem {
	position:relative;
	background-image:url(../img/info/note.png);
	background-repeat:no-repeat;
	height:90px;
}
.noteItem img {
	position:relative;
	left:10px;
	top:5px;
}
.txtTitle {
	font-size:24px;
	color:white;
	font-family : "华文黑体";
}
.woodBot{
	position:absolute;
	background-image:url(../img/pop/bg_b.png);
	background-repeat:no-repeat;
	width:640px;
	height:46px;
	margin-left:0px;
	margin-top:-46px;
	z-index:5;
}

.loading_cover {
	top:0px;
	left:0px;
	width: 136px;
	height: 127px;
	background: url(../img/bg/loading/loading.png) 0 no-repeat;
	position: absolute;
	z-index: 10;
}

#pLoad .img {
	position: absolute;
	top:2px;
	left:4px;
	background: url(../img/bg/loading/loading_map_face.png) repeat-x 0 0;
    border-radius:61px;
    height: 121px;
    width: 121px;
    opacity:0.5;
    animation: load_img 1s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: load_img 1s linear infinite;
}

#pLoad .img_face {
	position: absolute;
	top:2px;
	left:4px;
	background: url(../img/bg/loading/loading_map_face.png) repeat-x 0 0;
    border-radius:61px;
    height: 121px;
    width: 121px;
    animation: load_img_face 1s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: load_img_face 1s linear infinite;
}

.center2{
	display: table-cell;
	vertical-align: middle;
}
.center{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	display: -o-box;
	-o-box-orient: horizontal;
	-o-box-pack: center;
	-o-box-align: center;
	display: -ms-box;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-ms-box-align: center;
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
}

.swing{
	animation-name: swingAni;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: swingAni;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.bubble{
	animation-name: swingAni;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: swingAni;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.cl{
	animation-name: cLight;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function:ease-out;
	-webkit-animation-name: cLight;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-out;
}
.cl2{
	animation-name: cLight2;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	-webkit-animation-name: cLight2;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-out;
}
/*水平翻转*/
.flipx {
-moz-transform:scaleX(-1);
-webkit-transform:scaleX(-1);
-o-transform:scaleX(-1);
transform:scaleX(-1);
/*IE*/
filter:FlipH;
}
.bubble_lr{
	animation-name: pointerAni;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: pointerAni;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.bubble_ud{
	animation-name: pointerUd;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: pointerUd;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.mask_test{
	animation-name: mt;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: pointerUd;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.rotate_circle{
	position: absolute;
}
.rotate_circle_quick{
	position: absolute;
}
/**div居中**/
.inner_box {
	display: inline;
	line-height: 30px;
}
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
.clearfix {display: inline-block;}

/**
 * 	方形遮罩
 */
.square {
opacity:.8;
filter:alpha(opacity=80);
}


@keyframes rotateAni{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(180deg);}
}

@-webkit-keyframes rotateAni{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(180deg);}
}

@keyframes swingAni{
	0%{transform:translateY(0px);}
	25%{transform:translateY(-2px);}
	50%{transform:translateY(0px);}
	75%{transform:translateY(2px);}
	100%{transform:translateY(0px);}
}

@-webkit-keyframes swingAni{
	0%{-webkit-transform:translateY(0px);}
	25%{-webkit-transform:translateY(-2px);}
	50%{-webkit-transform:translateY(0px);}
	75%{-webkit-transform:translateY(2px);}
	100%{-webkit-transform:translateY(0px);}
}
@keyframes pointerAni{
	0%{transform:translateX(0px);}
	25%{transform:translateX(-8px);}
	50%{transform:translateX(0px);}
	75%{transform:translateX(8px);}
	100%{transform:translateX(0px);}
}
@-webkit-keyframes pointerAni{
	0%{-webkit-transform:translateX(0px);}
	25%{-webkit-transform:translateX(-8px);}
	50%{-webkit-transform:translateX(0px);}
	75%{-webkit-transform:translateX(8px);}
	100%{-webkit-transform:translateX(0px);}
}
@keyframes pointerUd{
	0%{transform:translateY(0px);}
	25%{transform:translateY(-8px);}
	50%{transform:translateY(0px);}
	75%{transform:translateY(8px);}
	100%{transform:translateY(0px);}
}
@-webkit-keyframes pointerUd{
	0%{-webkit-transform:translateY(0px);}
	25%{-webkit-transform:translateY(-8px);}
	50%{-webkit-transform:translateY(0px);}
	75%{-webkit-transform:translateY(8px);}
	100%{-webkit-transform:translateY(0px);}
}
@keyframes mt{
	0%{border-color : rgba(255, 255, 255, 0.8); transform:scale(1.0,1.0);}
	25%{border-color : rgba(255, 255, 255, 0.5); transform:scale(1.05,1.05);}
	50%{border-color : rgba(255, 255, 255, 0.3); transform:scale(1.1,1.1);}
	75%{border-color : rgba(255, 255, 255, 0.2);  transform:scale(1.15,1.15);}
	100%{border-color : rgba(255, 255, 255, 0.1); transform:scale(1.15,1.15);}
}
@-webkit-keyframes mt{
	0%{border-color : rgba(40, 173, 243, 0.8);  transform:scale(1.0,1.0); }
	25%{border-color : rgba(40, 173, 243, 0.5); transform:scale(1.05,1.05); }
	50%{border-color : rgba(40, 173, 243, 0.3);  transform:scale(1.1,1.1);}
	75%{border-color : rgba(40, 173, 243, 0.2);  transform:scale(1.15,1.15);}
	100%{border-color : rgba(40, 173, 243, 0.1);  transform:scale(1.15,1.15); }
}

@keyframes cLight{
	0%{transform:scale(0.2,0.2);filter:alpha(opacity=50);}
	50%{transform:scale(0.4,0.4);filter:alpha(opacity=90);}
	100%{transform:scale(1.2,1.2);filter:alpha(opacity=50);}
}
@-webkit-keyframes cLight{
	0%{-webkit-transform:scale(0.2,0.2);filter:alpha(opacity=50);}
	50%{-webkit-transform:scale(0.4,0.4);filter:alpha(opacity=90);}
	100%{-webkit-transform:scale(1.2,1.2);filter:alpha(opacity=50);}
}
@keyframes cLight2{
	0%{transform:scale(0.6,0.6);filter:alpha(opacity=50);}
	50%{transform:scale(1.2,1.2);filter:alpha(opacity=50);}
	100%{transform:scale(0.3,0.3);filter:alpha(opacity=90);}
}
@-webkit-keyframes cLight2{
	0%{-webkit-transform:scale(0.6,0.6);filter:alpha(opacity=50);}
	50%{-webkit-transform:scale(1.2,1.2);filter:alpha(opacity=50);}
	150%{-webkit-transform:scale(0.3,0.3);filter:alpha(opacity=90);}
}

@-webkit-keyframes aniArrL{
	0%{-webkit-transform:translate(-1px) rotate(180deg);}
	12%{-webkit-transform:translate(-2px) rotate(180deg);}
	24%{-webkit-transform:translate(-3px) rotate(180deg);}
	36%{-webkit-transform:translate(-2px) rotate(180deg);}
	48%{-webkit-transform:translate(-1px) rotate(180deg);}
	60%{-webkit-transform:translate(0px) rotate(180deg);}
	100%{-webkit-transform:translate(0px) rotate(180deg);}
}

@-webkit-keyframes aniArrR{
	0%{-webkit-transform:translate(1px);}
	12%{-webkit-transform:translate(2px);}
	24%{-webkit-transform:translate(3px);}
	36%{-webkit-transform:translate(2px);}
	48%{-webkit-transform:translate(1px);}
	60%{-webkit-transform:translate(0px);}
	100%{-webkit-transform:translate(0px);}
}

@keyframes aniArrL{
	0%{transform:translate(-1px) rotate(180deg);}
	12%{transform:translate(-2px) rotate(180deg);}
	24%{transform:translate(-3px) rotate(180deg);}
	36%{transform:translate(-2px) rotate(180deg);}
	48%{transform:translate(-1px) rotate(180deg);}
	60%{transform:translate(0px) rotate(180deg);}
	100%{transform:translate(0px) rotate(180deg);}
}

@keyframes aniArrR{
	0%{transform:translate(1px);}
	12%{transform:translate(2px);}
	24%{transform:translate(3px);}
	36%{transform:translate(2px);}
	48%{transform:translate(1px);}
	60%{transform:translate(0px);}
	100%{transform:translate(0px);}
}

@-webkit-keyframes load_img {
   0% { background-position: -188px 0; }
   100%{ background-position: 0 0;}
}

@keyframes load_img {
   0% { background-position: -188px 0; }
  100%{ background-position: 0 0;}
}

@-webkit-keyframes load_img_face {
   0% { background-position: 0 0; }
   100%{ background-position: -188px 0;}
}

@keyframes load_img_face {
   0% { background-position: 0 0; }
  100%{ background-position: -188px 0;}
}

/*for ios*/
.animate{
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInDown{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0px, -1200px, 0px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0px, -1200px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

.fadeInLeft{
	 -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(1200px, 0px, 0px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(1200px, 0px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}
.fadeOutRight{
	  -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(1200px, 0px, 0px);
    }
}
@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(1200px, 0px, 0px);
    }
}