<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.1.9.0.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <div class="warp">
        <div class="head">
            <div class="left-head">
                <img src="images/logo.jpg" />
            </div>
            <div class="right-head">
                <p class="title">
                    <span><a href="#">全部知识</a></span>
                    <span class="blue"><a href="#">文档</a></span>
                    <span class="blue"><a href="#">图片</a></span>
                    <span class="blue"><a href="#">视频</a></span>
                </p>
                <div class="find">
                    <input type="text" />
                    <p class="work">搜索文档</p>
                    <p class="help">帮助</p>
                </div>

            </div>
        </div>
        <ul class="nav">
             <li class="cur"><a href="#">知识首页</a><span><img src="images/shu.jpg" /></span></li>
             <li><a href="#">教学资源</a><span><img src="images/shu.jpg" /></span></li>
             <li><a href="#">德育资源</a><span><img src="images/shu.jpg" /></span></li>
             <li><a href="#">行政资源</a><span><img src="images/shu.jpg" /></span></li>
             <li><a href="#">精品专区</a><span><img src="images/shu.jpg" /></span></li>
             <li><a href="#">我的文件柜</a></li>
            <img src="images/tu2.png"  class="tu1"/>
            <img src="images/tu3.png"  class="tu2"/>
        </ul>
        <div class="center">
            <p class="tit2"><span class="inb">知识管理></span><span class="ino">教学资源</span><span class="inr">分享</span><span class="ine">收藏到书签</span></p>
            <div class="banner">
                <div class="banner-left">
                    <p class="abs"><span>全部德育资源</span><br />　(1331235)</p>
                    <ul class="list">
                        <li>•&nbsp&nbsp德育常规工作<span>(19183)</span></li>
                        <li>•&nbsp&nbsp班主任工作室<span>(19183)</span></li>
                        <li>•&nbsp&nbsp少先队管理<span>(19183)</span></li>
                        <li>•&nbsp&nbsp科技教育/艺术教育<span>(19183)</span></li>
                        <li>•&nbsp&nbsp雏鹰计划<span>(19183)</span></li>
                        <li>•&nbsp&nbsp心理教育<span>(19183)</span></li>
                    </ul>
                    <div class="btn">创建德育活动</div>
                </div>
                <div class="banner-right">
                    <div class="img1">
                        <img src="images/banner.jpg" />
                        <p>班主任开学培训工作总结</p>
                        <div class="black"></div>
                    </div>
                    <div class="or">
                    <div class="img2">
                        <img src="images/banner1.jpg" />
                        <p>2013值周安排</p>
                        <div class="black"></div>
                    </div>
                     <div class="img3">
                        <img src="images/banner4.jpg" />
                        <p>班主任开学培训工作总结</p>
                        <div class="black"></div>
                    </div>
                    </div>
                    <div class="img4">
                        <img src="images/banner2.jpg" />
                        <p>2012少先队工作总结</p>
                        <div class="black"></div>
                    </div>
                     <div class="or">
                    <div class="img6">
                        <img src="images/banner6.jpg" />
                        <p>2013值周安排</p>
                        <div class="black"></div>
                    </div>
                     <div class="img7">
                        <img src="images/banner7.jpg" />
                        <p>班主任开学培训工作总结</p>
                        <div class="black"></div>
                    </div>
                    </div>
                    <div class="img8">
                        <img src="images/banner5.jpg" />
                        <p>班主任开学培训工作总结</p>
                        <div class="black"></div>
                    </div>
                </div>
                 <div class="img5">
                        <img src="images/banner3.jpg" />
                        <p>少先队工作总结</p>
                        <div class="black"></div>
                    </div>
            </div>
        </div>
        
        <div class="down">
            <div class="left1">
               
                <div class="left-down1">
                   
                    <div class="two1">
                        <p class="tit">
                        德育常规工作（值周表-午饭班-国旗前讲话-兴趣班-托管班）
                        </p>
                         <div class="learn1">
                            <dl class="learn-dl1">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl>
                             <dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="three1">
                        <p class="tit">
                        班主任工作室（日志-培训）
                        </p>
                        <div class="learn1">
                            <dl class="learn-dl1">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl>
                             <dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl>
                        </div>
                    </div>
                     <div class="four">
                        <p class="tit">
                        少先队管理（队童-队前教育-礼仪-日常工作-奖项-活动）
                        </p>
                        <div class="learn1">
                            <dl class="learn-dl1">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl>
                             <dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="five">
                        <p class="tit">
                        科技教育/艺术交易（工作计划-活动信息-获奖）
                        </p>
                        <div class="learn1">
                            <dl class="learn-dl1">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl>
                             <dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl><dl class="learn-dl">
                                <dt><img src="images/pic8.jpg" /></dt>
                                <dd class="learn-tit1">我们需要什么样的小学教程</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="six">
                        <p class="tit">
                        雏鹰计划（申报书管理-总结-活动信息-获奖统计-文件库）
                        </p>
                    </div>
                </div>
            </div>
            <div class="right1">
           <div class="right-cen">
                    <p class="tit1">
                        文档排行榜
                    </p>
                    <div class="tabs">
                        <ul id="lists">
                            <li class="lists1 current">本日</li>
                            <li class="lists2">本周</li>
                            <li class="lists3">本月</li>
                        </ul>
                        <div id="contents">
                            <ul class="contents1" style="display:block;">
                                <li><a href="#">1</a>宽容别人，松绑自己</li>
                                <li><a href="#">2</a>宽容别人，松绑自己</li>
                                <li><a href="#">3</a>宽容别人，松绑自己</li>
                                <li><a href="#">4</a>宽容别人，松绑自己</li>
                                <li><a href="#">5</a>宽容别人，松绑自己</li>
                                <li><a href="#">6</a>宽容别人，松绑自己</li>
                                <li><a href="#">7</a>宽容别人，松绑自己</li>
                                <li><a href="#">8</a>宽容别人，松绑自己</li>
                            </ul>
                            <ul class="contents2">
                                <li><a href="#">1</a>小学生六年级学习资料复习</li>
                                <li><a href="#">2</a>小学生六年级学习资料复习</li>
                                <li><a href="#">3</a>小学生六年级学习资料复习</li>
                                <li><a href="#">4</a>小学生六年级学习资料复习</li>
                                <li><a href="#">5</a>小学生六年级学习资料复习</li>
                                <li><a href="#">6</a>小学生六年级学习资料复习</li>
                                <li><a href="#">7</a>小学生六年级学习资料复习</li>
                                <li><a href="#">8</a>小学生六年级学习资料复习</li>
                            </ul>
                            <ul class="contents3">
                                <li><a href="#">1</a>提高英语口语方法</li>
                                <li><a href="#">2</a>提高英语口语方法</li>
                                <li><a href="#">3</a>提高英语口语方法</li>
                                <li><a href="#">4</a>提高英语口语方法</li>
                                <li><a href="#">5</a>提高英语口语方法</li>
                                <li><a href="#">6</a>提高英语口语方法</li>
                                <li><a href="#">7</a>提高英语口语方法</li>
                                <li><a href="#">8</a>提高英语口语方法</li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <div class="right-down">
                    <p class="tit1">
                        用户贡献榜
                    </p>
                    <div class="tabs">
                        <ul id="list">
                            <li class="list1 current">本周积分排行</li>
                            <li class="list2">总积分排行</li>
                        </ul>
                        <div id="content">
                            <ul class="content1" style="display:block;">
                                <li><span class="name">用户名</span><span class="type">经验值</span></li>
                                <li><a href="#">1</a>dafadf<span  class="type">243</span></li>
                                <li><a href="#">2</a>afdafd<span class="type">243</span></li>
                                <li><a href="#">3</a>adafadsf<span class="type">243</span></li>
                                <li><a href="#">4</a>adfadfasdf<span class="type">243</span></li>
                                <li><a href="#">5</a>adfa<span class="type">243</span></li>
                                <li><a href="#">6</a>adf<span class="type">243</span></li>
                                <li><a href="#">7</a>fsdg<span class="type">243</span></li>
                                <li><a href="#">8</a>sfgg<span class="type">243</span></li>
                            </ul>
                            <ul class="content2">
                               <li><span class="name">用户名</span><span class="type">经验值</span></li>
                                <li><a href="#">1</a>fdgfg<span class="type">243</span></li>
                                <li><a href="#">2</a>fgsdfg<span  class="type">243</span></li>
                                <li><a href="#">3</a>sdfgsdf<span class="type">243</span></li>
                                <li><a href="#">4</a>sfdgf<span class="type">243</span></li>
                                <li><a href="#">5</a>fgvfcv<span class="type">243</span></li>
                                <li><a href="#">6</a>sgfdgs<span class="type">243</span></li>
                                <li><a href="#">7</a>sfdgfdgf<span class="type">243</span></li>
                                <li><a href="#">8</a>fvfsdgvsdf<span class="type">243</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <p>版权所有：北京阳光伟业科技发展有限公司   Copyright© 2013</p>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        $(".nav li").mouseenter(function () {
            $(this).prev().find("span").css("display", "none");
            $(this).find("span").css("display", "none");
            $(this).find("a").css("padding-left", "43px");
            $(this).find("a").css("padding-right", "43px");
        });
        $(".cur a").mouseleave(function () {
            $(this).css("padding-left", "43px");
        })
        $(".nav li").mouseleave(function () {
            $(this).prev().find("span").css("display", "block");
            $(this).find("span").css("display", "block");
            $(this).find("a").css("padding-left", "35px");
            $(".cur").find("a").css("padding-left", "43px");
            $(this).find("a").css("padding-right", "35px");

        })
    })
</script>