<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="server=.;database=ZK_Data;uid=zkUser;pwd=zk@123" />
    <add key="ConnectionStringMysql" value="server=.;Database=zk_wp_qa;Uid=root;Pwd=zyb123;charset=gb2312" />
    <!--数据访问层程序集名称 -->
    <add key="DAL" value="ZK.Dal" />
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value="" />
    <!--登录页面 -->
    <add key="LoginPage" value="login.aspx" />
    <!--网站域名，本地目录可以用.   -->
    <add key="WebURL" value="" />
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false" />
    <!--管理员所属部门名称-->
    <add key="AdManager" value="管理部" />
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30" />
    <!--页面Title-->
    <add key="title" value="" />
    <!--IM标识-->
    <add key="IMIdentity" value="hoolian.cn" />
    <add key="url" value="localhost:33452" />
    <!--视频基本参数设置-->
    <!--分辨率-->
    <add key="VideoSize" value="1280*720" />
    <!--码率-->
    <add key="BitRate" value="200" />
    <!--文件上传保存根目录-->
    <add key="uploaddir" value="/upload/upload-block/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
      </controls>
    </pages>

    <httpHandlers>
      <!--*************************************-->
      <add verb="*" path="scissors.axd" type="ZK.Controllers.BitmapScissors,ZK.Controllers" validate="false" />
      <!--*************************************-->
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    </httpHandlers>
    <!--最大上传文件限制为1024*1024*10 10G-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10485760" executionTimeout="3600" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
    <handlers>
      <remove name="CGI-exe" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="520000000" />
      </requestFiltering>
    </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

