<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="server=.;database=ZK_Data;uid=zkUser;pwd=zk@123" />
    <add key="ConnectionStringMysql" value="server=.;Database=miniyun;Uid=root;Pwd=zyb123" />
    <!--数据访问层程序集名称 -->
    <add key="DAL" value="ZK.Dal" />
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value="" />
    <!--登录页面 -->
    <add key="LoginPage" value="login.aspx" />
    <!--网站域名，本地目录可以用.   -->
    <add key="WebURL" value="" />
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false" />
    <!--管理员所属部门名称-->
    <add key="AdManager" value="管理部" />
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30" />
    <!--页面Title-->
    <add key="title" value="智客校园知识管理系统" />
    <!--IM标识-->
    <add key="IMIdentity" value="hoolian.cn" />
    <add key="url" value="119.255.49.153:8089" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
        <handlers accessPolicy="Read, Script" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

