<?xml version="1.0" encoding="UTF-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->

    <!--<add key="ConnectionString" value="server=.;database=ZK_Data;uid=sa;pwd=123456"/>-->

    <add key="ConnectionString" value="server=192.168.1.252;database=ZK_Dataforjwb;uid=zkUser;pwd=zk@123" />
    <!--<add key="ConnectionStringMysql" value="server=119.255.49.153;Database=nbc_knowledge_platform;Uid=root;Pwd=zyb123" />-->
    <add key="ConnectionStringMysql" value="server=192.168.1.252;Database=zk_kaifa;Uid=root;Pwd=zyb123" />

    <!--数据访问层程序集名称 -->
    <add key="DAL" value="ZK.Dal" />
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value="" />
    <!--登录页面 -->
    <add key="LoginPage" value="login.aspx" />
    <!--网站域名，本地目录可以用.   -->
    <add key="WebURL" value="" />
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false" />
    <!--管理员所属部门名称-->
    <add key="AdManager" value="管理部" />
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30" />
    <add key="url" value="119.255.49.153:8089" />
    <add key="IMIdentity" value="hoolian.cn" />

    <!--视频基本参数设置-->
    <!--分辨率-->
    <add key="VideoSize" value="1280*720" />
    <!--码率-->
    <add key="BitRate" value="200" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
