<script src="/Scripts/node.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        SetBtns(0);
    })
</script>
<!--文件列表-->
<ul class="header"></ul>
<div class="main">
{#foreach $T as row}
<span class="item">
     <a class="icon {$T.row.icon}"></a>
     {#if $T.row.ft==1||$T.row.ft==2||$T.row.ft==3}
         <a class="name" href="javascript:pid={$T.row.id};GetFileList(type, tempurl);">{$T.row.fn}</a>
    {#else}
         <a class="name" href="javascript:DownLoad({$T.row.id});">{$T.row.fn}</a>
    {#/if}
</span>
{#/for}
</div>